body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.welcome-text {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

#welcome {
    position: relative;
    height: 400px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('/about/nrd-c3tNiAb098I-unsplash.jpg'); /* Adjusted URL */
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}

#mission {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.mission-text {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.about-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    background-size: cover;
    background-image: url('/HC_images/markus-frieauff-IJ0KiXl4uys-unsplash.jpg'); /* Adjusted URL */
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

#service {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.service-text {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.data_storage-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background-size: cover;
    background-image: url('/cod_images/markus-spiske-iar-afB0QQw-unsplash.jpg'); /* Adjusted URL */
    background-position: center;
    opacity: 0.4;
    z-index: -1;
}

.data_viz-image {
    position: absolute;
    top: 4.5;
    left: 0;
    width: 120%;
    height: 25%;
    background-size: cover;
    background-image: url('/Analytics_images/luke-chesser-JKUTrJ4vK00-unsplash.jpg'); /* Adjusted URL */
    background-position: center;
    opacity: 0.4;
    z-index: -1;
}
